<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">User Login</h2>
        <h3 class="section-subheading text-muted">Please enter your login information.</h3>
    </div>
</div>
<!-- Heading -->

<div>
        <ul class="nav nav-tabs">
                <li class="{{loginTabClass}}" ng-click="toggleView(1)"><a href="#">Login</a></li>
                <li class="{{registerTabClass}}" ng-click="toggleView(2)"><a href="#">Register</a></li>
              </ul>
</div>


<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" ng-submit="submitCredentials(user);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Username Input -->
                            <div class="form-group">
                                <label>Username:</label>
                                <input class="form-control" ng-model="user.username"placeholder="username" autocomplete="off">
                            </div>
                            <!-- Password Input -->
                            <div class="form-group">
                                <label>Password:</label>
                                <input class="form-control" ng-model="user.password" type="password" placeholder="password">
                            </div>
                            <!--Email Input-->
                            <div class="form-group" ng-show="!isLogin">
                                    <label>Email:</label>
                                    <input class="form-control" ng-model="user.email"placeholder="email" autocomplete="off">
                                </div>
                                <!--Company Input-->
                                <div class="form-group" ng-show="!isLogin">
                                    <label>Company:</label>
                                    <input class="form-control" ng-model="user.company" placeholder="company">
                                </div>
                        </div>
                    </div>
                    <!-- Login Button -->
            <button type="submit" class="btn btn-primary">{{ isLogin ? "Login" : "Register" }}</button>
            <div class="row show-hide-message" ng-show="user.successMsg || user.errorMsg ">
                    <div ng-class="alert">{{ user.successMsg || user.errorMsg }}</div>
                </div>
                </form>
                
            </div>

            
        </div>

        <br>

        <!-- Custom Message -->


        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="main.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading....</p>
        </div>
    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
